<div class="admin-form">
  <%= form_with model: @item, url: "/admin/items", method: :post do |f| %>
    <div class="mb-3">
      <%= f.label :name, "名前", class: "form-label" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :yomi, "読み", class: "form-label" %>
      <%= f.text_field :yomi, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :price, "値段", class: "form-label" %>
      <%= f.text_field :price, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :description, "詳細", class: "form-label" %>
      <%= f.text_area :description, class: "form-control", rows: 5 %>
    </div>
    <div class="mb-3">
      <%= f.file_field :image %>
    </div>
    <%= f.submit "作成", class: "btn btn-primary" %>
  <% end %>
</div>
