<h1>Cart Page</h1>
<div class="cart">
  <div class="cart-contents">
    <h4>Your Cart</h4>
    <table class="cart-items">
      <% @cart_item_arry.each.with_index do |item, i| %>
        <tr class="cart-item">
          <td><%= item.name %></td>
          <td>
            ¥<%= item.price %>✖️<%= @item_amount[i] %>
            <%= link_to "削除", cart_path(item.id), data: {turbo_method: :delete} %>
          </td>
        </tr>
      <% end %>
      <tr class="total-price">
        <td>合計金額</td>
        <td>¥<%= @total_price %></td>
      </tr>
    </table>
    <form class="promotion">
      <div class="col-auto">
        <input type="text" class="form-control" id="inputPassword2" placeholder="Promo Code">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Redeem</button>
      </div>
    </form>
  </div>
  <div class="billing">
    <h4>Billing Address</h4>
    <%= form_with model: @order, url: orders_path do |f| %>
      <div class="form-flex">
        <div class="mb-3 form">
          <%= f.label :first_name, "First Name", class: "form-label" %>
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
        <div class="mb-3 form">
          <%= f.label :last_name, "Last Name", class: "form-label" %>
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
      </div>
      <div class="mb-3 form">
        <%= f.label :user_name, "User Name", class: "form-label" %>
        <%= f.text_field :user_name, class: "form-control", placeholder: "Username" %>
      </div>
      <div class="mb-3 form">
        <%= f.label :email, "Email", class: "form-label" %>
        <%= f.text_field :email, class: "form-control", placeholder: "you@example.com" %>
      </div>
      <div class="mb-3 form">
        <%= f.label :address, "Address", class: "form-label" %>
        <%= f.text_field :address, class: "form-control", placeholder: "Tokyo" %>
      </div>
      <div class="mb-3 form">
        <%= f.label :address2, "Address2(Optional)", class: "form-label" %>
        <%= f.text_field :address2, class: "form-control", placeholder: "アパート" %>
      </div>
      <div class="mb-3 form">
        <%= f.label :country, "Country", class: "form-label" %>
        <%= f.select :country, [["Japan", "Japan"]], {}, class: "form-select" %>
      </div>
      <div class="mb-3 form">
        <%= f.label :prefecture, "Prefecture", class: "form-label" %>
        <%= f.select :prefecture, [["Tokyo", "Tokyo"]], {}, class: "form-select" %>
      </div>
      <div class="mb-3 form">
        <%= f.label :zip, "Zip", class: "form-label" %>
        <%= f.text_field :zip, class: "form-control", placeholder: "000-0000" %>
      </div>
      <hr />
      <div class="mb-3 form">
        <h4>Payment(Credit Card Only)</h4>
        <div class="mb-3">
          <%= f.label :name_on_card, "Name On Card", class: "form-label" %>
          <%= f.text_field :name_on_card, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :card_number, "Credit card number", class: "form-label" %>
          <%= f.text_field :card_number, class: "form-control", placeholder: "0000111122223333" %>
        </div>
        <div class="mb-3">
          <%= f.label :expiration, "Expiration", class: "form-label" %>
          <%= f.text_field :expiration, class: "form-control", placeholder: "YYYY-mm-dd" %>
        </div>
        <div class="mb-3">
          <%= f.label :cvv, "CVV", class: "form-label" %>
          <%= f.text_field :cvv, class: "form-control", placeholder: "000" %>
        </div>
      </div>
      <hr />
      <%= f.submit "購入する", class: "btn btn-primary button" %>
    <% end %>
  </div>
</div>
