<div class="show">
  <figure class="show-figure">
    <%= image_tag(@item.image, class: "show-img") if @item.image.attached? %>
  </figure>
  <div class="description">
    <p>SKU: BST-498</p>
    <h1><%= @item.name %></h1>
    <p><%= @item.price %>円</p>
    <p><%= @item.description %></p>
    <%= form_with model: @cart_item, url: "/cart/#{@item.id}", class: "row g-3" do |f| %>
      <div class="col-auto">
        <%= f.text_field :amount, type: "num", value: 1, size: 2, class: "form-control" %>
      </div>
      <div class="col-auto">
        <%= f.submit "Add To Cart", class: "btn btn-primary mb-3" %>
      </div>
    <% end %>
  </div>
</div>
<hr />
<div class="related">
  <h1>Related product</h1>
  <%= render partial: "item", locals: {item: @related_item} %>
</div>